<ion-header>
  <ion-toolbar>
    <ion-title>recibo Compra</ion-title>
<ion-buttons slot="start">
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-card>
  <ion-card-header>
    ¡Felicidades!
  </ion-card-header>
  <ion-card-content>
    <p><ion-label> haz logrado comprar el {{nombre}} por el valor {{valor}}</ion-label></p>
      {{nombre}} : {{valor}}
    <br>
<ion-label>total: {{valor}}</ion-label>
  </ion-card-content>
</ion-card>
</ion-content>
